.experience {
  margin: 3rem 2.5rem;
}

.experience--title {
  font-weight: 700;
  line-height: 150%;
  color: #f5f5f5;
  font-size: 30px;
  transition: color 0.3s;
}

.light-mode .experience--title {
  color: #333333;
}

.experience--item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience--details {
  display: flex;
  flex-direction: column;
}

.experience--descr {
  color: #dcdcdc;
  line-height: 150%;
  font-weight: 400;
  font-size: 16px;
  transition: color 0.3s;
}

.experience--info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.experience--date {
  font-size: 12px;
  color: #f5f5f5;
}

.light-mode .experience--date {
  color: #888888;
}

.light-mode .experience--descr {
  color: #333333;
}
